[submodule "website/openid"]
	path = website/openid
	url = git://chris.smith.name/~chris/poidsy
[submodule "code/Extractor/modules/util"]
	path = code/Extractor/modules/util
	url = git://dmdirc.com/~dmdirc/util
