<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
     package="uk.co.md87.android.activityrecorder" android:versionCode="4" android:versionName="0.2.1">
    <application android:label="Activity Recorder" android:icon="@drawable/icon">
         <activity android:name=".ActivityRecorderActivity" android:label="Activity Recorder">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name=".RecorderService" android:label="Sensor Recorder Service"/>
        <service android:name=".ClassifierService" android:label="Activity Classification Service"/>
    </application>

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-sdk android:minSdkVersion="3" />
</manifest>
