<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
     package="uk.co.md87.android.contextanalyser.locale"
     android:versionCode="1" android:versionName="0.0.1">
    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:name="com.twofortyfouram.MarketActivity"
            android:label="Activity Plugin" android:icon="@drawable/icon"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.INFO"/>
            </intent-filter>
        </activity>

        <activity android:name=".EditActivity" android:label="@string/plugin_name"
            android:icon="@drawable/icon">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_CONDITION"/>
            </intent-filter>
        </activity>

        <activity android:name=".EditDestination" android:label="@string/location_name"
            android:icon="@drawable/icon">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_CONDITION"/>
            </intent-filter>
        </activity>

         <receiver android:name=".Receiver" android:exported="true">
             <intent-filter>
                 <action android:name="com.twofortyfouram.locale.intent.action.QUERY_CONDITION" />
             </intent-filter>
             <intent-filter>
                 <action android:name="uk.co.md87.android.contextanalyser.ACTIVITY_CHANGED" />
                 <action android:name="uk.co.md87.android.contextanalyser.CONTEXT_CHANGED" />
             </intent-filter>
         </receiver>
    </application>

    <uses-sdk android:minSdkVersion="3" />
    <uses-permission android:name="uk.co.md87.android.contextanalyser.RECEIVE_UPDATES"/>
    <uses-permission android:name="uk.co.md87.android.contextanalyser.READ_PLACES"/>
</manifest>
