<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
     package="uk.co.md87.android.contextanalyser.locale">
    <application android:name="@string/app_name">
        <activity android:name="com.twofortyfouram.MarketActivity"
            android:label="Activity Plugin" android:icon="@drawable/icon"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.INFO"/>
            </intent-filter>
        </activity>

        <activity android:name=".EditActivity" android:label="Activity"
            android:icon="@drawable/icon" android:exported="true">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_CONDITION"/>
            </intent-filter>
        </activity>

         <receiver android:name=".Receiver" android:exported="true">
             <intent-filter>
                 <action android:name="com.twofortyfouram.locale.intent.action.QUERY_CONDITION" />
             </intent-filter>
         </receiver>

         <receiver android:name=".Receiver" android:exported="true"
             android:permission="uk.co.md87.android.contextanalyser.BROADCAST">
             <intent-filter>
                 <action android:name="uk.co.md87.android.contextanalyser.ACTIVITY_CHANGED" />
             </intent-filter>
         </receiver>
    </application>

    <uses-permission android:name="uk.co.md87.android.contextanalyser.RECEIVE_UPDATES"/>
</manifest>
